{% extends "master.html" %}

{% block title %}
  Confirmar Eliminación de Departamento
{% endblock %}

{% block content %}
<h2>¿Está seguro de eliminar este Departamento?</h2>

<p>Nombre: {{ departamento.nombre }}</p>
<p>Piso: {{ departamento.piso }}</p>
<p>Edificio: {{ departamento.edificio.nombre }}</p>

<form action="{% url 'eliminar_departamento' departamento.id %}" method="post">
  {% csrf_token %}
  <button type="submit">Eliminar</button>
  <a href="{% url 'listar_departamentos' %}">Cancelar</a>
</form>
{% endblock %}
